scikit-image==0.18.1
scipy==1.6.0
torch==2.0.0
torchvision==0.15.1
matplotlib==3.3.4
opencv-python==4.5.1
packaging==21.0
torchmetrics==0.5.1
tqdm==4.62.2
wandb==0.15.11
fvcore==0.1.5.post20210915
segmentation-models-pytorch==0.3.3
argparse

